pyttsx3~=2.90
pyfiglet~=0.8.post1
jupyter~=1.0.0
pip~=22.0.4
attrs~=21.4.0
toml~=0.10.2
wheel~=0.37.1
Pillow~=9.1.0
tornado~=6.1
Jinja2~=3.0.2
rope~=1.0.0
pypiwin32~=223
pywin32~=303
comtypes~=1.1.11
numpy~=1.21.3
colorama~=0.4.4
termcolor~=1.1.0
pyflakes~=2.4.0
setuptools~=58.1.0
pycodestyle~=2.8.0